body {
    background-color: rgb(142, 168, 218);
    font: normal 20px Arial
}

h1 {
    background-color: rgb(130, 173, 242);
    padding: 20px;
    width: 500px;
    text-align: center;
    margin: 280px auto 0px auto;
    box-shadow: 3px 3px 10px black;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px rgb(13, 0, 255);
    border-radius: 10px;
}

#nacionalidade {
    display: grid;
    place-items: center;
    margin: 10px auto 0px auto;
}

#confirmar {
    display: grid;
    place-items: center;
    margin: 10px auto 0px auto;
}

p#resposta {
    text-align: center;
    color: black
}

p#respostabr {
    text-align: center;
    color: rgb(38, 135, 11);
    text-shadow: 1px 1px 1px black;
}

p#respostaout {
    text-align: center;
    color: red;
    text-shadow: 1px 1px 1px black;
}



